<h1>用户手册<i>(Depot version <%= @version %>)</i></h1>
<ul>
  <li>
    <h3>游客访问</h3>
    <ol>
      <li>浏览商品</li>
      <p>没有登陆的用户，即游客，可以访问系统，在主页面浏览商品列表，可以看到书籍的书名，简介，价格，图片等信息。游客在浏览撒花那商品信息的时候还可以<b> 点击 </b>商品的<b> 标题 </b> 或者<b> 图片 </b>进入书籍详细信息页面，察看书籍更多信息，如评论等。</p>
      <li>使用分类树快速搜索商品</li>
      <p>游客在主页面浏览商品列表，可以在主页面右侧看到一棵商品分类树，用户可以<b> 点击 </b>每一级各个<b> 类名 </b> 搜索到满足该类别的所有书籍并显示在商品列表主页面。</p>
      <li>选中商品加入购物车</li>
      <p>游客在主页面浏览商品列表，可以<b> 点击 </b>商品价格旁边的<b> [Add to Cart] </b>按钮，将商品加入购物车。然后在右边的分类树下方将显示出购物车的信息。</p>
      <li>清空购物车</li>
      <p>游客在主页面浏览商品列表，可以<b> 点击 </b>购物车下方的<b> [Empty Cart] </b>按钮，将购物车清空，空购物车将不会显示。</p>
      <p>注意：游客<b> 点击 </b>购物车下方的<b> [Checkout] </b>按钮，想购物时需要进行登陆（为注册需先注册。</p>


    </ol>
  </li>

  <li>
    <h3>买家访问</h3>
    <ol>
      <li>注册的普通用户即为买家，买家首先拥有游客的所有功能和权限。</li> <p></p>
      <li>买家登陆</li>
      <p>买家在主页面浏览商品列表时，可以点击<b> 导航兰 </b>上右边的<b> [Login] </b>按钮，进入用户登陆页面，输入注册的匹配用户名与密码，即可登陆到买家管理主页，买家管理主列出了买家的订单</p>
      <li>买家下订单</li>
      <p>买家在购物车中有商品并登陆以后，可以<b> 点击 </b>购物车下方的<b> [Checkout] </b>按钮，将进入<b> 下订单 </b>页面，买买家输入正确的：买家姓名，地址，邮箱，付款方式后，点击表单下方的 <b> [Place Order] </b>就可以完成购物。</p>
      <li>订单管理</li>
      <p>买家在登陆状态下，可以<b> 点击 导航兰 </b>上的<b> [Orders] </b>，察看自己的所有订单，并可以在每笔订单后面 <b>点击 [Show] </b>或者<b> [Edit] </b>或者<b> [Destroy]</b>，分别<b> 查看订单信</b>，或者<b>  编辑订单信息 </b>或者<b> 删除订单。 </b></p>
      <p>买家登陆状态下，并且购物车尚有商品，可直接<b>点击</b>订单列表底部的<b> [New Order]</b>，进行下订单操作。</p>
    </ol>
  </li>

  <li>
    <h3>管理员（即唯一卖家）访问</h3>
    <ol>
      <li>系统有一个初始管理员，并在任何时刻都至少有一个管理员，管理员首先拥有买家的所有功能和权限。</li> <p></p>
      <li>管理员登陆</li>
      <p>管理员在主页面可以点击<b> 导航兰 </b>上右边的<b> [Login] </b>按钮，进入用户登陆页面，输入注册的匹配用户名与密码，即可登陆到管理员管理主页，管理员管理主页面列出了所有买家的订单</p>
      <li>管理员订单管理</li>
      <p>与买家不同的是，管理员管理的是所有买家的订单。</p>
      <li>商品管理</li>
      <p>管理员登陆状态下，可以<b> 点击 导航兰 </b>上的<b> [Products] </b>，察看系统中当前所有的商品列表，并可以在每商品后面 <b>点击 [Show] </b>或者<b> [Edit] </b>或者<b> [Destroy]</b>，分别<b> 查看商品信息</b>，或者<b>  编辑商品信息 </b>或者<b> 删除商品。 </b></p>
      <p>管理员在登陆状态下，可<b> 点击</b>商品列表底部的<b> [New Product]</b>按钮，进入商品添加页面，输入正确的<b> 商品名</b>，<b> 商品简介</b>, <b>商品封面图</b>，<b>商品价格</b>，再选择一个<b>商品类别</b>，最后点击表单底部的<b> [Update Product] </b>按钮就可以添加新的商品。</p>
      <li>用户管理</li>
      <p>管理员登陆状态下，可以<b> 点击 导航兰 </b>上的<b> [Users] </b>，查看系统中当前所有的用户列表，并可以在每个用户后面 <b>点击 [Show] </b>或者<b> [Edit] </b>或者<b> [Destroy]</b>，分别<b> 查看用户信息</b>，或者<b>  更改用户信息 </b>或者<b> 删除用户。 </b></p>
      <p>管理员在登陆状态下，可<b> 点击</b>用户列表底部的<b> [New User]</b>按钮，进入用户添加页面，输入正确的<b> 用户名</b>，<b> 密码</b>，再选择一个<b>用户类别（普通用户或者管理员）</b>，最后点击表单底部的<b> [Update User] </b>按钮就可以添加新的用户。</p>
      <p>注意：管理员在添加用户时不同于用户注册，在用户注册页面注册的用户都是普通用户（买家），管理员直接添加的用户可以是普通用户也可以是管理员用户。另外，管理员可以更改一个用户的类别，可以将一个管理员改为普通用户，也可以将普将普通用户改为管理员，但是在将管理员改为普通用户的时候，系统会保证至少存在一个管理员用户，管理员在删除用户的时候也如此。</p>
      <li>商品类管理</li>
      <p>管理员登陆状态下，可以<b> 点击 导航兰 </b>上的<b> [Catalogs] </b>，查看系统中当前所有商品的分类树，并可以在每个类别后面 <b>点击 [Show] </b>或者<b> [Edit] </b>或者<b> [Destroy]</b>，或者<b> [New Child] </b>,分别<b> 查看类别信息</b>，或者<b>  更改类别信息 </b>或者<b> 删除类别 </b>，或者<b> 新建子类 </b>。</p>
        <p>管理员在登陆状态下，可<b> 点击</b>分类树底部的<b> [New Catalog] </b>按钮，进入分类添加页面，输入正确的<b> 类名</b>，<b> 密码</b>，最后点击表单底部的<b> [Create Catalog] </b>按钮就可以添加新的类别。</p>
      <p>注意：管理员在删除一个类别时，必须确保该类别已经没有子类，并且系统中已没有该类的商品。</p>
    </ol>
  </li>


</ul>
