/* Global styles */

#banner {
	position:relative;
	margin:0px;
	padding-bottom: 10px;
	font: small-caps 40px/40px "Times New Roman", serif;
	color: #282;
	text-align: center;
	background-color:#9C9;
	height:100px;
}
#banner div{
	position:relative;
	top:40px;
	left:0px;
}
#banner form{
	position:relative;
	top:25px;
	right:0px;
}

#banner img {
  float: left;

}

#columns {
	/*background-color:#C0C0C0;*/
	/*background-color:#9c9;*/
	background-color:white	;
	margin-top:0px;
}

#main {
  float: left;
  padding-top: 2em;
  padding-left: 2em;
  padding-right:2em;
  background: #FFF8DC;
  min-height:500px;
  margin:0px;
  width:78%;
  border-right: dotted 1px black;
  
}

#side_right {
  padding: 5px;
  padding-top: 20px;
  float: right;
  margin:0px;
  width:16%;
  

  color: green;
  font-size: small;
  background: white;

}


/* END: My css*/

#store .entry form, #store .entry form div {
  display: inline;
}

#store .cart_title {
  font: 150% bold;
}

#store .item_price, #store .total_line {
  text-align: right;
}

#store .total_line .total_cell {
  font-weight: bold;
  border-top: 1px solid #595;
}

#store #notice {
        color: #000;
        border: 2px solid red;
        padding: 1em;
        margin-bottom: 2em;
        background-color: #f0f0f0;
        font: bold smaller sans-serif;
}


#store h1 {
        font:  150% sans-serif;
        color: #226;
        border-bottom: 3px dotted #77d;
}

/* Styles for products/index */

#product_list table {
        border-collapse: collapse;
}

#product_list table tr td {
        padding: 5px;
        vertical-align: top;
}

#product_list .list_image {
  width:        60px;
  height:       70px;
}

#product_list .list_description {
  width:        60%;
}

#product_list .list_description dl {
        margin: 0;
}

#product_list .list_description dt {
	color:        #244;
	font-weight:  bold;
	font-size:    larger;
}

#product_list .list_description dd {
        margin: 0;
}

#product_list .list_actions {
  font-size:    x-small;
  text-align:   right;
  padding-left: 1em;
}

#product_list .list_line_even {
  background:   #e0f8f8;
}

#product_list .list_line_odd {
  background:   #f8b0f8;
}

/* An entry in the store catalog */
/*test*/
#store  .entry {
  overflow: auto;
  margin-top: 1em;
  border-bottom: 3px dotted #77d;
}

#store  .title {
  font-size: 120%;
  font-family: sans-serif;
}

#store .entry img {
  width: 80px;
  margin-right: 5px;
  margin-bottom: 5px;
  float: left;
}


#store .entry h3 {
 margin-top: 0;
 margin-bottom: 2px;
 color: #227;
}

#store .entry p {
 margin-top: 0.5em; 
 margin-bottom: 0.8em; 
}

#store .entry .price_line {
	clear: both;
	padding-bottom:2em;
	/*border-bottom: 2px dotted;*/
}

#store .entry .add_to_cart {
  position: relative;
}

#store .entry  .price {
  color: #44a;
  font-weight: bold;
  margin-right: 2em;
}

#cart{
	/*font-size: smaller;*/
	color: green;
}

#cart table {
	border-top: 1px dotted #595;
	border-bottom: 1px dotted #595;
	margin-bottom: 10px;
}

#cart {
	padding: 10px;
	border-top: 2px solid green;
	border-bottom: 2px solid green;
}



/* Style for order form ---by john*/
.depot_form fieldset{
  background: #efe;
}

.depot_form legend {
  color: #dfd;
  background: #141;
  font-family: sans-serif;
  padding: 0.2em 1em;
}

.depot_form label {
  width: 5em;
  float: left;
  text-align: right;
  padding-top: 0.2em;
  margin-right: 0.1em;
  display: block;
}

.depot_form select, .depot_form textarea, .depot_form input {
  margin-left: 0.5em;
}

.depot_form submit {
  margin-left: 4em;
}

.depot_form div {
  margin: 0.5em 0;
}

.locale {
		float:right;
		padding-top: 0.2em;
}

#blank_comment{
  color: red;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  border:2px solid;
  padding:5px;
}

/*my css*/

#side .top_list{
	line-height:20px;
	color:white;
	height:20px;
	display:block;
	
	background-color:#FFF;
	border-top: dotted 1px black;
	border-bottom: dotted 1px black;
	margin:0px;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:50px;
	padding-right:1px;
}

#side ul li {
	float: left;
	display: inline;
	border-right: solid 1px #1D1C1C;
}
#side ul li a{
	padding: 0px 20px;
}

#side .top_user_details{
	float:right;
	border-left: solid 1px #1D1C1C;
	border-right:0px;
}
#side .top_user_details span{
	color:red;
	padding: 0px 10px;
	
}
#side #top_user_name {
	border-left:0px;
}

#side .top_user_login,#side .top_user_register{
	float:right;
	border-left: solid 1px #1D1C1C;
	border-right:0px;
}

input[type="button"], input[type="submit"], input[type="reset"], input[type="file"]::-webkit-file-upload-button, button {
	background-color:white;
	cursor:pointer;	
	width: 100px;
	
}
input[type="button"]:hover, input[type="submit"]:hover, input[type="reset"]:hover, input[type="file"]::-webkit-file-upload-button, button:hover{
	color:white;
	background-color:green;
}
body {
	padding-top: 0px;
	margin: 0px;

}